:root {
    --color-primary: #367FF9;
    --color-secondary: #FF8C21;
}

body {
    font-family: 'Poppins', sans-serif;
}

.imagedetail{
    object-fit: cover;
}

.about-school{
    padding: 70px 0px 50px 0px;
}

.huruf-besar > p:first-letter {
    font-size : 25px;
}

.time-donate {
    margin-left: 38px;
    position: inherit;
    font-size: 12px;
}
.desc-donate {
    padding-left: 14px;
}
.time-info {
    margin-left: 38px;
    position: inherit;
    font-size: 12px;
}
